.titleArea{
  display: flex;
  padding-bottom: px;
  justify-content: space-between;
}

body{
  background-color: aquamarine;
}

#siteTitle{
  font-family: "Keania One", sans-serif;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  background-color: aqua;
  background-size: 130px;
  width: fit-content;
  height: fit-content;
  padding: 5px;
  margin-right: 10px;
  border-radius: 10px;
  letter-spacing: 5px;

  

}

#siteQuote{
  font-family: "Keania One", sans-serif;
  font-size: 40px;
  margin: 20px;
  padding-top: 10px;
  padding-right: 15px;
}

.navBar{
  font-family: "Keania One", sans-serif;
  margin-left: 0px;
  padding-left: 0px;
  border-bottom-style: solid;
  border-color: black;
}

a{
  color:black

}

.navButtons{
  list-style-type: none;
  display: flex;
 
  /*justify-content: center;!-->*/
  justify-content: space-evenly;
}
h1{
  font-family: "Keania One", sans-serif;
  font-size: 35 px;
  text-align: center;
  margin-top: 30 px;
  margin-bottom: 20px;
}

form{
  background-color: aqua;
  border: 2px solid black;
  border-radius: 12px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top:30px;
  padding: 20px;
}

form p{
  font-family: "Keania One", sans-serif;
  font-size: 20px;
  margin-bottom: 5px;
}

.contentSection{
  padding:40px;
}

.sectionTitle{
  font-family: "Keania One", sans-serif;
  font-size:28px;
  margin-bottom:20px;
}

.groupCard{
  background:white;
  width:260px;
  padding:20px;
  margin:15px;
  border-radius:10px;
  display:inline-block;
  text-align:center;
}

.groupCard button{
  margin-top:10px;
  padding: 15px;
  border:none;
  background-color:#00bcd4;
  border-radius:5px;
  cursor:pointer;
}