<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Keania+One&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Keania+One&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="styles.css">
        <title>Studyr</title>
    </head>
    <body>
        <div class = "titleArea">
            <div id = "siteTitle"><h1><span>StudyMatch</span></h1></div>
            <div id = "siteQuote">Find local study groups, build communities</div>
        </div>

        <nav class = "navBar">
            <ul class = "navButtons">
                <li class = example><a href = "#">Home</a></li>
                <li><a href = "#">Buddies</a></li>
                <li><a href = "#">Groups</a></li>
                <li><a href = "#">Courses</a></li>
                <li><a href = "#">Profile</a></li>
            </ul>
        </nav>

        
        {% block content %}<!--index templete here-->{% endblock %}
        
    </body>
</html>