{% extends "base.html" %}

{% block body %}
<div class="session-grid">
{% for session in sessions %}
    <div class="session-card">
        <h3>{{session.title}}</h3>
        <p><b>Subject: </b> {{session.subject}}</p>
        <p><b>Location: </b>{{session.location}}</p>
        <p><b>Time: </b>{{session.time.strftime("%b %d • %I:%M %p")}}</p>
        <p>{{session.participants}}/{{session.capacity}} Participants</p>

        <form action="/join_session/{{session.id}}" method="POST" novalidate class="btn-join">
        {{ join_form.hidden_tag() }}
        <p>
            {{ join_form.submit(value="Request To Join" if session.request_only else "Join", class="btn-join")}} <br>
        </p>
        </form>
        <form action="/delete_session/{{session.id}}" method="POST" class="btn-delete">
        {{ delete_form.hidden_tag() }}
        <p>{{ delete_form.submit(class="btn-delete") }}</p>
        </form>


    </div>
{% endfor %}
</div>
{% endblock %}


